body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.parallax {
   /* The image used */
   /* Set a specific height */
   height: auto;
   padding: 5em 5em;

   /* Create the parallax scrolling effect */
   background: url("./static/img/banner.jpg") no-repeat fixed center;
   background-size: cover;
}

.round {
  border-radius: 3em !important;
}